Repository Meet-Coder-Study/reference-documentation-study, pull requests merged in 2021-05, with the labels that each got.

#52 [B팀][박창원] SpringApplication
  week5/B팀_박창원_SpringApplication.md
Labels: 5주차

#51 [B팀][박은진] 6. Using the @SpringBootApplication Annotation
  .DS_Store
  spirng-boot-2.4.x/.DS_Store
  spirng-boot-2.4.x/week4/B팀_박은진_Using the @SpringBootApplication Annotation.md
Labels: 4주차, spring-boot-2.4.x

#50 [A팀][김광훈] Using Spring Boot 2
  spirng-boot-2.4.x/week4/A팀_김광훈_Using Spring Boot_2.md
Labels: 4주차, spring-boot-2.4.x

#49 [A팀][박기진] Using Spring Boot 2.md
  week4/4weeks-using-spring-boot.md
Labels: 4주차, spring-boot-2.4.x

#47 [B팀][박유진] Using Spring Boot 2
  week4/B팀_박유진_Spring_Beans_and_Dependency_Injection.md
Labels: 4주차, spring-boot-2.4.x

#48 [A팀][유효정] Using Spring Boot 2.md
  week4/[#3][A팀]Using Spring Boot 2.md
Labels: 4주차, spring-boot-2.4.x

#46 [A팀][김보배] Using Spring Boot 2
  spirng-boot-2.4.x/week4/A팀_김보배_Using_Spring_Boot_2.md
Labels: 4주차, spring-boot-2.4.x

#45 [B팀][조준희] Using Spring Boot 2
  .gitignore
  week4/B팀_조준희_Using_Spring_Boot_2.md
Labels: 4주차, spring-boot-2.4.x

#57 [B팀][박유진] SpringApplication.md
  week5/B팀_박유진_SpringApplication.md
Labels: 5주차, spring-boot-2.4.x

#56 [B팀][최락준]SpringApplication.md
  week5/B팀_최락준_SpringApplication.md
  week5/images/.DS_Store
  week5/images/rockjoon_week5_1.png
Labels: 5주차, spring-boot-2.4.x

#55 [A팀][김세윤] SpringApplication.md
  spirng-boot-2.4.x/week5/SpringApplication.md
Labels: 5주차, spring-boot-2.4.x

#54 [A팀][김광훈] SpringApplication.md
  spirng-boot-2.4.x/week5/[A팀[김광훈] SpringApplication.md
Labels: 5주차, spring-boot-2.4.x

#53 [A팀][유효정] SpringApplication.md
  week5/[A팀][유효정] SpringApplication.md
Labels: 5주차, spring-boot-2.4.x

#61 [A팀][김보배] Spring Boot Features 2
  spirng-boot-2.4.x/week6/A팀_김보배_Spring_Boot_Features_2.md
Labels: 6주차

#62 [A팀][김세윤] Spring Boot Features 2
  spirng-boot-2.4.x/week6/A팀_김세윤_Spring_Boot_Features2.md
Labels: 6주차

#59 [B팀][조준희] 스프링 부트 로깅
  spirng-boot-2.4.x/week3/A팀_김해경_Using_Spring_Boot_1.md
  week6/B팀_조준희_Using_Spring_Boot_4.md
Labels: 6주차

#60 [A팀][박기진] Spring Boot Features - 6주차
  spirng-boot-2.4.x/week6/[A팀][박기진]spring-boot-features-6weeks.md
Labels: 6주차

#70 [B팀][박창원] Spring Boot Features3
  week8/B팀_박창원_Spring_Boot_Features3.md
Labels: 8주차

#69 gitflow-feature-stash: 7week-spring-feature2
  spirng-boot-2.4.x/week7/[A팀][박기진] Spring Boot Features2-7주차.md
Labels: 7주차

#67 [A팀][김광훈] Spring Boot Features2
  spirng-boot-2.4.x/week7/A팀_김광훈_Spring_Boot_Features2.md
Labels: 7주차

#68 [A팀][유효정] Security, Graceful shutdown, Caching, Messaging, Calling REST Services, Validation
  week7/[A팀][유효정] Security, Graceful shutdown, Caching, Messaging, Calling REST Services, Validation.pdf
Labels: 7주차

#64 [B팀][박창원] Spring Boot Features2
  week7/B팀_박창원_Spring_Boot_Features2.md
Labels: 7주차

#72 [A팀][박기진] Working_with_SQL_Databases
  spirng-boot-2.4.x/week8/[A팀][박기진] Working_with_SQL_Databases.md
Labels: 8주차

#71 [A팀][유효정] Working_with_SQL_Databases
  week8/A팀_유효정_Working_with_SQL_Databases.pdf
Labels: 8주차
