Repository Meet-Coder-Study/reference-documentation-study, pull requests merged in 2021-04, with the labels that each got.

#19 [A팀][박기진] Getting Started
  week2/2.getting_started.md
Labels: 2주차, spring-boot-2.4.x

#21 [A팀][조준희] Getting Started
  .gitignore
  week2/[#2][B팀]GettingStarted.md
  week2/image/junhee/1.png
  week2/image/junhee/2.png
  week2/image/junhee/3.png
  week2/image/junhee/4.png
  week2/image/junhee/5.png
Labels: 2주차, spring-boot-2.4.x

#22 [A팀][김민걸] Getting Started
  .idea/.gitignore
  .idea/misc.xml
  .idea/modules.xml
  .idea/springboot-reference-documentation-study.iml
  .idea/vcs.xml
  README.md
  week10/.keep
  week11/.keep
  week12/.keep
  week2/.keep
  week2/Getting_Started_김민걸.md
  week2/mingeorImg/ServletLifeCycle.png
  week2/mingeorImg/mvn0v.png
  week2/mingeorImg/pom.png
  week2/mingeorImg/result.png
  week2/mingeorImg/running.png
  week2/mingeorImg/source.png
  week2/mingeorImg/tree.png
  week3/.keep
  week4/.keep
  week5/.keep
  week6/.keep
  week7/.keep
  week8/.keep
  week9/.keep
Labels: 2주차, spring-boot-2.4.x

#23 [A팀][유효정] Getting Started
  week2/[#2][A팀]Getting Started 유효정.pdf
Labels: 2주차, spring-boot-2.4.x

#24 [B팀][최락준] Getting Started
  week2/B팀_최락준_Getting_Started.md
  week2/images/rockjoon1.png
Labels: 2주차, spring-boot-2.4.x

#25 [A팀][김보배] Getting Started
  week2/Getting_Started_김보배.md
Labels: 2주차, spring-boot-2.4.x

#26 [A팀][조준희] Getting Started
  .idea/.gitignore
  .idea/misc.xml
  .idea/modules.xml
  .idea/springboot-reference-documentation-study.iml
  .idea/vcs.xml
  week2/[#2][A팀]GettingStarted_김광훈.md
Labels: 2주차, spring-boot-2.4.x

#27 [A팀][김해경] Getting Started
  week2/Getting Started_김해경.md
Labels: 2주차, spring-boot-2.4.x

#28 [B팀][김유진] Getting Started
  week2/[#2][B팀]GettingStarted_YuJin.md
  week2/image/yujin/JVM-vs-JRE-vs-JDK.png
Labels: 2주차, spring-boot-2.4.x

#29 [A팀][김세윤] Getting Started
  week2/A팀_김세윤_getting.md
Labels: 2주차, spring-boot-2.4.x

#30 [B팀][박창원] Getting Started
  week2/B팀_박창원_Getting_Started.md
Labels: 2주차, spring-boot-2.4.x

#31 [A팀][김보배] Using Spring Boot 1
  spirng-boot-2.4.x/week3/A팀_김보배_Using_Spring_Boot_1.md
Labels: 3주차, automerge, spring-boot-2.4.x

#32 [A팀][박기진] Using Spring Boot 1
  week3/using-spring-boot1-2-3-4.md
Labels: 3주차, automerge, spring-boot-2.4.x

#42 [B팀][박은진]Configuration Classes
  .DS_Store
  spirng-boot-2.4.x/.DS_Store
  spirng-boot-2.4.x/week3/B팀_박은진_Auto-Configuration.md
Labels: 3주차, automerge, spring-boot-2.4.x

#41 [B팀][김민걸] Build System
  spirng-boot-2.4.x/week3/B팀_김민걸_Build_System.md
Labels: 3주차, automerge, spring-boot-2.4.x

#40 [A팀][유효정] Using Spring Boot
  week3/A팀_유효정_Using_Spring_Boot.md
Labels: 3주차, automerge, spring-boot-2.4.x

#39 [B팀][최락준] Using Spring Boot 1
  week3/B팀_최락준_Using_Spring_Boot_1.md
Labels: 3주차, automerge, spring-boot-2.4.x

#38 [B팀][박유진] Using Spring Boot 1
  week3/B팀_박유진_Build_System.md
  week3/image/yujin/common_layout.JPG
  week3/image/yujin/jpa-basic-structure.png
  week3/image/yujin/jpa-insert-structure.png
  week3/image/yujin/jpa-select-structure.png
Labels: 3주차, automerge, spring-boot-2.4.x

#37 [A팀][김광훈] Using Spring Boot 1
  spirng-boot-2.4.x/week3/A팀_UsingSpringBoot_김광훈.md
Labels: 3주차, automerge, spring-boot-2.4.x

#36 [B팀][조준희] Using Spring Boot 1
  week3/[B팀][조준희]UsingSpringBoot1.md
Labels: automerge, spring-boot-2.4.x

#35 [A팀][김해경] Using Spring Boot 1
  spirng-boot-2.4.x/week3/A팀_김해경_Using_Spring_Boot_1.md 
Labels: 3주차, automerge, spring-boot-2.4.x

#34 [B팀][박창원] Using Spring Boot 1
  week3/B팀_박창원_Using Spring Boot_1.md
Labels: 3주차, automerge, spring-boot-2.4.x
